*,*::before,*::after{box-sizing:border-box}p,h1,h2,h3,h4,h5,h6{margin:0}ul{list-style:none;margin:0;padding-left:0;text-decoration:none}a{text-decoration:none}img{display:block;max-width:100%;height:auto;padding:0}body{margin:0;padding:0;min-height:100vh;width:100vw;text-decoration:none;background-image:linear-gradient(rgba(144, 126, 216, 0.5), rgba(141, 130, 130, 0.5)),url("./../img/photo-1706875180135-71cc6b7af558.avif");background-size:cover;background-repeat:no-repeat}.container{margin:0 auto;max-width:500px}.burger-menu-icon{display:block;position:absolute;z-index:2;top:18px;left:18px;width:30px;height:20px;cursor:pointer}@media(min-width: 768px){.burger-menu-icon{display:none}}.burger-menu-icon-element{position:absolute;top:calc(50% - 1px);left:0px;width:100%;height:2px;background-color:#fcf7f7;transition-property:all;transition-duration:.25s;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)}.burger-menu-icon-element:first-child{top:0}.burger-menu-icon-element:last-child{top:auto;bottom:0}.burger-menu-icon.active .burger-menu-icon-element{transform:scale(0)}.burger-menu-icon.active .burger-menu-icon-element:first-child{transform:rotate(-45deg);top:calc(50% - 1px)}.burger-menu-icon.active .burger-menu-icon-element:last-child{transform:rotate(45deg);bottom:calc(50% - 1px)}.settings-wrapper{width:100%}@media(max-width: 767px){.settings-wrapper{position:absolute;top:0;left:-100%;height:100vh;background-color:#66478a;transition-property:all;transition-duration:.25s;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);padding-top:50px;padding-bottom:50px;z-index:1}.settings-wrapper.active{display:flex;align-items:center;gap:20px;left:0;padding-top:150px;width:100vw}}@media(min-width: 768px){.settings-wrapper{display:flex;padding-left:55px}}.calculator{display:flex;flex-direction:column;align-items:center;gap:10px;padding-right:20px;padding-left:20px}@media(min-width: 768px){.calculator{gap:20px}}.settings-wrapper{display:flex;flex-direction:column;gap:10px;padding-left:20px;padding-right:20px}@media(min-width: 768px){.settings-wrapper{padding-left:55px;padding-right:0px}}.ExerciseAndInputWrapper{display:flex;flex-direction:column;align-items:center;padding-top:55px}@media(min-width: 768px){.ExerciseAndInputWrapper{padding-top:20px}}.exercise-wrapper{display:block;width:260px;height:80px;background-color:rgba(220,215,228,.3);border-radius:5px}@media(min-width: 768px){.exercise-wrapper{width:350px;height:80px}}.slider-container{display:grid;grid-template-columns:repeat(1, 1fr);gap:10px}@media(min-width: 768px){.slider-container{grid-template-columns:repeat(2, 1fr)}}.generated-number,.operator{font-size:23px;font-weight:600;padding-right:10px}.input-answer{position:relative;display:flex;align-items:center;justify-content:flex-end}.input-number{width:260px;height:40px;border:2px solid #e9d2d2;border-radius:5px;padding-right:40px;text-align:right;font-family:"Times New Roman",Times,serif;font-size:23px;font-weight:600;transition:all .3s ease}@media(min-width: 768px){.input-number{width:350px;height:30px}}.input-number:hover{border-color:#007bff;background-color:#f0f8ff}.input-number:focus{border-color:#0056b3;outline:none;background-color:#e0f3ff}.calculator-buttons{display:flex;flex-direction:row;gap:10px;justify-content:center;align-items:flex-end}@media(min-width: 768px){.calculator-buttons{flex-direction:row}}.button-wrapper{display:grid;grid-template-columns:repeat(4, 1fr);gap:10px}@media(min-width: 768px){.button-wrapper{width:350px}}.key{cursor:pointer;display:inline-block;width:60px;height:60px;margin:0;margin-right:-2px;margin-left:1px;margin-top:1px;margin-bottom:2px;border-radius:3px;opacity:.8;transition:opacity .2s ease-in-out}@media(min-width: 768px){.key{width:80px;height:80px}}.key:hover{opacity:1}.key .key-content{display:block;width:40px;height:40px;text-align:center;box-sizing:border-box;padding-top:7px;font-family:"Source Sans Pro",sans-serif;font-size:1.5em;border-radius:33%;position:relative;top:7.5px;left:7.5px;transition:transform 150ms ease-in-out,box-shadow 150ms ease-in-out}@media(min-width: 768px){.key .key-content{width:60px;height:60px;font-size:2em;padding-top:12px}}.key .key-content:hover{transform:scale(1.1);box-shadow:0 4px 8px rgba(0,0,0,.2);animation:none}.key .key-content:active{transform:scale(0.95);box-shadow:0 2px 4px rgba(0,0,0,.3);border:2px solid gray}.key.number{background-color:#333f3b;background:linear-gradient(90deg, #182629, #4B5556 80%);background-size:100%;background-position:top left}.key.number .key-content{background-color:#3e4c4d;background:radial-gradient(#3E4C4D, #38474A, #343E3F);background-size:150% 350%;background-position:center center;color:#f5ffff}.key.operation{background-color:#858585;background:linear-gradient(90deg, #858585, #F6F1EE 80%);background-size:100%;background-position:top left}.key.operation .key-content{background-color:#fffdfc;background:radial-gradient(#E4E4E4, #E5DFDF, #F7F5F6);background-size:100% 200%;background-position:center center;color:#110d0e}.key.number .key-content .decimal{position:relative;top:-0.25em}.key.general{background-color:#007070;background:linear-gradient(90deg, #007070, #009494 80%);background-size:100%;background-position:top left}.key.general .key-content{background-color:teal;background:radial-gradient(#00A3A3, #007070, #005050);background-size:200% 300%;background-position:center center;color:#e0f8f8;font-size:1.5em}@media(min-width: 768px){.key.general .key-content{font-size:2em}}@keyframes blink{0%{opacity:1}50%{opacity:.6}100%{opacity:1}}.startIconWrap{position:relative;animation:blink 1s infinite}#startIcon{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:60px;height:60px;background-size:cover;background-repeat:no-repeat}.exercise{display:flex;flex-direction:column;align-items:flex-end;padding-right:30px}.input-number{text-align:right}.progressBarContainer{width:260px;height:15px;background-color:rgba(0,0,0,0);border-radius:5px;overflow:hidden}@media(min-width: 768px){.progressBarContainer{width:350px}}.progressBar{width:100%;height:100%;background-color:rgba(0,0,0,0)}.flag{position:absolute;top:10%;right:1%;width:25px;height:25px;background-color:rgba(0,0,0,0);background-size:cover;background-repeat:no-repeat;background-position:center}@media(min-width: 768px){.flag{right:-10%;width:30px;height:30px}}.green{background-image:url("./../icons/yes.png")}.red{background-image:url("./../icons/no.png")}.backdrop{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(97,96,107,.66);z-index:4;opacity:1;transition-property:opacity;transition-duration:500ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)}.backdrop.is-hidden{opacity:0;pointer-events:none}.modal{position:absolute;top:30%;left:50%;width:300px;padding-top:60px;padding-left:160px;height:200px;background:url("./../img/bg-modal.jpeg");background-size:cover;background-repeat:no-repeat;box-shadow:0px 1px 3px rgba(0,0,0,.12),0px 1px 1px rgba(0,0,0,.14),0px 2px 1px rgba(0,0,0,.2);border-radius:4px;transform:translate(-50%, -50%) scale(1)}.modal-close-icon{display:block;position:absolute;z-index:4;top:18px;right:18px;width:30px;height:30px;cursor:pointer}.modal-close-icon-element{position:absolute;top:calc(50% - 1px);left:0px;width:100%;height:2px;background-color:#d7cae2;transition-property:all;transition-duration:.5s;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transform:scale(0)}.modal-close-icon-element:first-child{top:0;transform:rotate(-45deg);top:calc(50% - 1px)}.modal-close-icon-element:last-child{transform:rotate(45deg);bottom:calc(50% - 1px)}.modal-close-icon:hover .modal-close-icon-element:first-child{transform:rotate(45deg)}.modal-close-icon:hover .modal-close-icon-element:last-child{transform:rotate(-45deg)}.modal-answers{color:#d7cae2;font-size:24px}.modal-answers-rating{font-size:24px}.right{color:green}.wrong{color:red}/*# sourceMappingURL=main.css.map */
  }
}

.green {
  background-image: url("./../icons/yes.png");
}

.red {
  background-image: url("./../icons/no.png");
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(97, 96, 107, 0.66);
  z-index: 4;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 300px;
  padding-top: 60px;
  padding-left: 160px;
  height: 200px;
  background: url("./../img/bg-modal.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
}

.modal-close-icon {
  display: block;
  position: absolute;
  z-index: 4;
  top: 18px;
  right: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal-close-icon-element {
  position: absolute;
  top: calc(50% - 1px);
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: hsl(273, 29%, 84%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.modal-close-icon-element:first-child {
  top: 0;
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.modal-close-icon-element:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.modal-close-icon:hover .modal-close-icon-element:first-child {
  transform: rotate(45deg);
}

.modal-close-icon:hover .modal-close-icon-element:last-child {
  transform: rotate(-45deg);
}

.modal-answers {
  color: hsl(273, 29%, 84%);
  font-size: 24px;
}

.modal-answers-rating {
  font-size: 24px;
}

.right {
  color: green;
}

.wrong {
  color: red;
}/*# sourceMappingURL=main.css.map */